<form action="/login" method="POST">

    <div class="login-headers">
        <h1>GainFlex</h1>
        <h2> Welcome Back!</h2>
    </div>

    <div class="login-icon">
        <img src="https://thenounproject.com/api/private/icons/2542891/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0" alt="Icon">
    </div>
    
    <div class="login-fields">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">

        <button type="submit">Login</button>
    </div>
    
</form>
