<form action="/login" method="POST">

    <div class="login-welcome">
        <h1>GainFlex</h1>
        <h2> Welcome Back!</h2>
    </div>
    
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">

    <button type="submit">Login</button>
    
</form>
