<% schedules.forEach(schedule => { %>
    <h2>Workout Schedule for <%= schedule.userId.name %></h2>
    
    <% schedule.exercises.forEach(exercise => { %>
        <div>
            <p><%= exercise.name %> </p>
            <p><%= exercise.description %></p>
        </div>
    <% }); %>
<% }) %>
