<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create a New Schedule</title>

<body>
    <div class="schedule-new-headers">
        <h1>Create a Workout Schedule</h1>
        <h2>Featuring: <%= exercise.name %></h2>
    </div>


    <ul class="schedule-new-nav">
      <li class="left"><a href="/exercise">Home</a></li>
      <li class="right"><a href="/logout">Logout</a></li>
  </ul>

  <main>
    <div class="schedule-new-input">
      <form action="/schedule" method="POST">

        <label for="date"><b>Schedule Name:</b></label>
        <input type="text" name="scheduleName" placeholder="Schedule Name"><br>

        <label for="date"><b>Date:</b></label>
        <input type="text" name="date" placeholder="Exercise Date"><br>

        <label for="reps"><b>Reps:</b></label>
        <input type="text" name="reps" placeholder="Exercise Reps"><br>

        <label for="sets"><b>Sets:</b></label>
        <input type="text" name="sets" placeholder="Exercise Sets"><br>

        <input type="hidden" name="exerciseId" value="<%= exercise.id %>">
       
        <div class="button-container">
          <input type="submit" value="Submit" />
        </div>
      </form>
    </div>
  </main>

</body>

</html>
