<h2>Workout Schedule for: <%= schedule.userId.name %></h2>
<h4>Total: <%= order.total %></h4>

<% schedule.exercies.forEach(exercise => { %>
<div>
    <p>
        <%= exercise.name %>
    </p>
    <p>
        <%= exercise.description %>
    </p>
</div>

<% }); %>
