body {
    margin: 0;
    padding: 0;
    background-color: #254E58;
}.landing-headers {
    color: #88BDBC;
    font-family: bungee;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}
.landing-icon {
    position: center;
    margin-top: 10px;
}
.landing-icon img{
    display: block;
    margin: 0 auto;
    width: 250px;
    height: auto;
}
.landing-buttons {
    text-align: center;
    margin-top: 20px;
}
.landing-buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.login-headers {
    color: #88BDBC;
    font-family: bungee;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}
.login-icon {
    position: center;
    margin-top: 10px;
}
.login-icon img{
    display: block;
    margin: 0 auto;
    width: 250px;
    height: auto;
}
.login-fields {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    max-width: 300px; 
    margin: 0 auto; 
}
.login-fields input, .login-fields button {
    margin: 5px 0; 
}

.signup-headers {
    color: #88BDBC;
    font-family: bungee;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}
.signup-fields {
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 300px; 
    margin: 0 auto; 
}
.signup-fields input .signup-fields button {
    margin-bottom: 45px 
}
.signup-icon {
    position: center;
    margin-top: 10px;
}
.signup-icon img{
    display: block;
    margin: 0 auto;
    width: 250px;
    height: auto;
}

.exercise-index-headers h1{
    color: #88BDBC;
}
.exercise-index-headers h2{
    color: #F6EEE3;
}
.exercise-index-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .exercise-container {
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .exercise-img {
    width: 250px;
    height: 250px;
    padding: 5px;
    margin: 0; 
  }
  .exercise-name {
    margin-top: 10px; 
    font-weight: bold;
    color: white;
  }

    .exercise-new-headers{
    color: #88BDBC;
}
    .new-exercise-input {
    max-width: 400px;
    margin: 0 auto;
  }
  .new-exercise-input label {
    display: block;
    margin-bottom: 5px;
  }
  .new-exercise-input input[type="text"],
  .new-exercise-input input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .new-exercise-headers{
    color: #88BDBC;
  }
  .edit-exercise-header {
    color: #88BDBC;
  }


  .show-exercise-header{
    color: #88BDBC;
  }
  .show-exercise-images{
    width: 1200px; /* Adjust this value to your desired width */
    height: 1200px; /* Adjust this value to your desired height */
    padding: 5px;
    margin: 70px;
  }
  .show-exercise-details{
    color: white;
    padding: 10px; 
    width: 700px; 
    position: absolute;
    top: 240px; 
    right: 150px; 
    font-size: 18px;
}

 