body {
    margin: 0;
    padding: 0;
    background-color: #88BDBC;
}
/* HOME PAGE */
.landing-headers {
    color: #254E58;
    font-family: bungee;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}
.landing-icon {
    position: center;
    margin-top: 10px;
}
.landing-icon img{
    display: block;
    margin: 0 auto;
    width: 250px;
    height: auto;
}
.landing-buttons {
    text-align: center;
    margin-top: 20px;
}
.landing-buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

/* LOGIN PAGE */
.login-headers {
    color: #254E58;
    font-family: bungee;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}
.login-icon {
    position: center;
    margin-top: 10px;
}
.login-icon img{
    display: block;
    margin: 0 auto;
    width: 250px;
    height: auto;
}
.login-fields {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    max-width: 300px; 
    margin: 0 auto; 
}
.login-fields input, .login-fields button {
    margin: 5px 0; 
}

/* SIGNUP PAGE */
.signup-headers {
    color: #254E58;
    font-family: bungee;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}
.signup-fields {
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 300px; 
    margin: 0 auto; 
    margin-bottom: 20px;
}
.signup-fields input .signup-fields button {
    margin-bottom: 45px 
}
.signup-icon {
    position: center;
    margin-top: 10px;
}
.signup-icon img{
    display: block;
    margin: 0 auto;
    width: 250px;
    height: auto;
}

/* EXERCISE INDEX */
.exercise-index-headers h1{
    color: #254E58;
    font-size: 40px;
    font-family: bungee;
}
.exercise-index-headers h2{
    color: #112D32;
    font-size: 30px;
    font-family: bungee;
}
.exercise-index-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .exercise-index-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #67ABAA;
    display: flex;
    justify-content: space-between;
}
.exercise-index-nav li {
    display: inline-block;
}
.exercise-index-nav li.left {
    margin-right: auto;
}
.exercise-index-nav li.right {
    margin-left: auto; 
}
.exercise-index-nav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.exercise-index-container {
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .exercise-index-img {
    width: 250px;
    height: 250px;
    padding: 5px;
    margin: 0; 
  }
  .exercise-index-name {
    margin-top: 10px; 
    font-weight: bold;
    font-size: 20px;
    color: black;
  }

/* EXERCISE NEW */
  .exercise-new-headers h1{
    color: #254E58;
    font-size: 40px;
    font-family: bungee;
}
.exercise-new-headers h2{
    color: #112D32;
    font-size: 30px;
    font-family: bungee;
}
    .exercise-new-input {
    max-width: 400px;
    margin: 0 auto;
  }
  .exercise-new-input label {
    display: block;
    margin-bottom: 5px;
  }
  .exercise-new-input input[type="text"],
  .exercise-new-input input[type="submit"] {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .exercise-new-headers{
    color: #254E58;
    font-size: 25px;
  }
  .exercise-new-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #67ABAA;
    display: flex;
    justify-content: space-between;
  }
  .exercise-new-nav li {
    display: inline-block;
  }
  .exercise-new-nav li.left {
    margin-right: auto;
  }
  .exercise-new-nav li.right {
    margin-left: auto; 
  }
  .exercise-new-nav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }


/* EXERCISE SHOW */
  .exercise-show-headers h1{
    color: #254E58;
    font-size: 40px;
    font-family: bungee;
  }
  .exercise-show-headers h2{
    color: #112D32;
    font-size: 30px;
    font-family: bungee;
  }
  .exercise-show-images {
    max-width: 1000%;
    max-height: 100%;
    padding: 5px;
    margin: 20px;
  }
  .exercise-show-images img {
    width: 450px;
    height: 450px;
  } 
  .show-exercise-details{
    color: rgb(0, 0, 0);
    padding: 10px; 
    width: 700px; 
    position: absolute;
    top: 240px; 
    right: 150px; 
    font-size: 18px;
}
.show-exercise-actions {
    display: flex;
    gap: 10px; 
}
.exercise-show-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #67ABAA;
  display: flex;
  justify-content: space-between;
}
.exercise-show-nav li {
  display: inline-block;
}
.exercise-show-nav li.left {
  margin-right: auto;
}
.exercise-show-nav li.right {
  margin-left: auto; 
}
.exercise-show-nav li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

/* EXERCISE EDIT */
.exercise-edit-header{
  font-size: 25px;
  color: #254E58;
  font-family: bungee;
}
.exercise-edit-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #67ABAA;
  display: flex;
  justify-content: space-between;
}
.exercise-edit-nav li {
  display: inline-block;
}
.exercise-edit-nav li.left {
  margin-right: auto;
}
.exercise-edit-nav li.right {
  margin-left: auto; 
}
.exercise-edit-nav li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.exercise-edit-images {
  max-width: 1000%;
  max-height: 100%;
  padding: 5px;
  margin: 20px;
}
.exercise-edit-images img {
  width: 450px;
  height: 450px;
}
.exercise-edit-input {
  max-width: 400px;
  margin: 0 auto;
}
.exercise-edit-input label {
  display: block;
  margin-bottom: 5px;
}
.exercise-edit-input input[type="text"],
.exercise-edit-input input[type="submit"] {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
.exercise-edit-details{
  color: rgb(0, 0, 0);
  padding: 10px; 
  width: 700px; 
  position: absolute;
  top: 240px; 
  right: 150px; 
  font-size: 18px;
}

/* SCHEDULE INDEX */
.schedule-index-header{
  color: #254E58;
  font-size: 40px;
  font-family: bungee;
}
.schedule-index-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #67ABAA;
  display: flex;
  justify-content: space-between;
}
.schedule-index-nav li {
  display: inline-block;
}
.schedule-index-nav li.left {
  margin-right: auto;
}
.schedule-index-nav li.right {
  margin-left: auto; 
}
.schedule-index-nav li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.schedule-actions {
  display: flex; 
}

.schedule-actions form {
  margin-right: 10px; 
}

/* SCHEDULE NEW */
.schedule-new-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #67ABAA;
  display: flex;
  justify-content: space-between;
}
.schedule-new-nav li {
  display: inline-block;
}
.schedule-new-nav li.left {
  margin-right: auto;
}
.schedule-new-nav li.right {
  margin-left: auto; 
}
.schedule-new-nav li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.schedule-new-headers h1{
  color: #254E58;
  font-size: 40px;
  font-family: bungee;
}
.schedule-new-headers h2{
  color: #112D32;
  font-size: 30px;
  font-family: bungee;
}
.schedule-new-input {
  max-width: 400px;
  margin: 0 auto;
}
.schedule-new-input label {
  display: block;
  margin-bottom: 5px;
}
.schedule-new-input input[type="text"],
.schedule-new-input input[type="submit"] {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* SCHEDULE EDIT */
.schedule-edit-header{
  color: #254E58;
  font-size: 40px;
  font-family: bungee;
}
.schedule-edit-details{
  display: block;
  margin-bottom: 5px;
}
.schedule-edit-input input[type="text"],
.schedule-edit-input input[type="submit"] {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}