<% [{name: 'Push-up'}, {name: 'Squat'}, {name: 'Plank'}].forEach(exercise => { %>

    <h1><%=exercise.name %></h1>
    <p>
        <% = exercise.description %>
    </p>

<% }) %>

<style>
    h1 {
        color: #88BDBC;
    }
</style>