<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GainFlex Exercise Image Gallery</title>
</head>

<body>
    <div class="exercise-index-headers">
        <h1>GainFlex Exercise Image Gallery</h1>

        <h2>Discover More Details by Selecting the Images Below</h2>
    </div>

    <a href="/exercise/new">
        <button class="create-button">Add New Exercise</button>
    </a>

    <div class="exercise-index-images">
        <% exercise.forEach(exercise => { %>
            <img src="<%= exercise.image %>" alt="Image" class="exercise-img">
          </a>
        <% }); %>
      </div>

  </body>

</html>