<% [{name: 'Push-up'}, {name: 'Squat'}, {name: 'Plank'}].forEach(exercise => { %>

    <h1><%=exercise.name %></h1>

<% }) %>

<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GainFlex Exercise Image Gallery</title>
</head>

<body>

    <h1>GainFlex Exercise - Image Gallery</h1>

    <h2>Discover More Details by Selecting the Images Below</h2>

    <div class="exercise-images">
      <% exercise.forEach((exercise) => { %>
        <a href="/exercise">
        <img src="<%= seededExercise.image %>" alt="Image" class="exercise-img">
        </a>
      <% }); %>
    </div>
  
  </body>

</html> -->
