<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GainFlex Exercise Image Gallery</title>
</head>

<body>
    <div class="exercise-index-headers">
        <h1>Exercise Gallery</h1>
        <h2>Unlock Insights: Click Images</h2>
    </div>

    <ul class="exercise-index-nav">
        <li class="left"><a href="/exercise/new">Add New Exercise</a></li>
        <li class="right"><a href="/logout">Logout</a></li>
    </ul>

    <div class="exercise-index-images">
        <% exercise.forEach(exercise => { %>
          <div class="exercise-index-container">
            <a href="/exercise/<%= exercise.id %>">
                <img src="<%= exercise.image %>" alt="Image" class="exercise-index-img">
            </a>
            <p class="exercise-index-name"><%= exercise.name %></p>
          </div>
        <% }); %>
      </div>

  </body>

</html>