<!DOCTYPE html>
<html lang="en">

<head>
  <title>Add a New Exercise</title>

<body>
    <div class="exercise-new-headers">
        <h1>Enhance Your Routine</h1>
        <h2>Add a New Exercise</h2>
    </div>

    <ul class="exercise-new-nav">
      <li class="left"><a href="/exercise">Home</a></li>
      <li class="right"><a href="/logout">Logout</a></li>
  </ul>

  <main>
    <div class="exercise-new-input">
      <form action="/exercise" method="POST">

        <label for="name"><b>Name:</b></label>
        <input type="text" name="name" placeholder="Exercise Name">

        <label for="description"><b>Description:</b></label>
        <input type="text" name="description" placeholder="Brief Description">

        <label for="category"><b>Category:</b></label>
        <input type="text" name="category" placeholder="e.g., Cardio">

        <label for="level"><b>Difficulty Level:</b></label>
        <input type="text" name="difficultyLevel" placeholder="e.g., Advanced">

        <label for="equipment"><b>Equipment Needed:</b></label>
        <input type="text" name="requiresEquipment" placeholder="e.g., Dumbells">

        <label for="image"><b>Image:</b></label>
        <input type="text" name="image" placeholder="Enter an Image Link">
       
        <div class="button-container">
          <input type="submit" value="Submit" />
        </div>
      </form>
    </div>
  </main>

</body>

</html>
